body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
  margin-top: 16%;
}
.container {
  display: flex;
  max-height: 510px;
  flex-direction: column;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid black;
  border-radius: 15px;
  width: 380px;
  box-shadow: 10px 10px black;
}
img {
  margin: 0 auto;
  width: 340px;
  border-radius: 8px;
  margin-top: 20px;
}
.badge,
.date,
h1,
.description,
div.avatar {
  margin-left: 20px;
}

.badge {
  background-color: hsl(47, 88%, 63%);
  font-weight: 800;
  font-size: 14px;
  padding: 7px 14px;
  margin-top: 1.5em;
  border-radius: 6px;
  align-items: flex-start;
  width: 58px;
}
.date {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 500;
}
h1 {
  font-weight: 800;
  font-size: 24px;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

div.description {
  align-items: flex-start;
  font-size: 16px;
  line-height: 1.5em;
  color: hsl(0, 0%, 50%);
}

div.avatar > img {
  width: 32px;
  align-self: flex-start;
}
.author {
  align-self: flex-start;
  font-size: 14px;
  font-weight: 800;
  transform: translate(4.5em, -3em);
}
